* {
    box-sizing: border-box;
}


body {
    background:
    repeating-linear-gradient(
        #494454, black   
    );
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header header header header"
    ". alerts alerts alerts"
    "aside main main main"
    ". footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin: 0;
    font-family: helvetica, sans-serif;
    color: white;  
  }

.header  {
    grid-area: header;
    grid-column: 2 / span 2;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.text-response {
    grid-area: alerts;

}

.gameboard {
    grid-area: main;
}

.buttons button {
    grid-area: aside;
    display: block;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    grid-column: 1;
    grid-row: 3;
    font-size: 20px; 
    padding: 20px 30px;
    margin: 20px;
    width: 225px;
    border-radius: 25px;
}

.pegchoice {
    grid-area: footer;
}





















