* {
    box-sizing: border-box;
}


body {
    background:
    repeating-linear-gradient(
        #494454, black   
    );
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin: 0;
    font-family: helvetica, sans-serif;
    color: white;  
  }

.gameboard {
    
}





















